<form class="investment-calculator-form" [formGroup]="investmentCalculatorForm">
  <div class="form-row">
    <div class="form-input-wrapper">
      <mat-label>Pravidelný mesačný vklad</mat-label>

      <div class="form-input-group">
        <mat-slider min="20" max="1000" step="1" showTickMarks discrete>
          <input matSliderThumb formControlName="monthlyInvestment" [value]="monthlyInvestment">
        </mat-slider>
        <mat-form-field floatLabel="always">
          <mat-label>Suma</mat-label>
          <input matInput type="number" class="example-right-align" formControlName="monthlyInvestment" [value]="monthlyInvestment"/>
          <span matTextPrefix class="input-prefix">€&nbsp;</span>
        </mat-form-field>

      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-input-wrapper">
      <mat-label>Jednorázový počiatočný vklad</mat-label>
      <div class="form-input-group">
        <mat-slider min="20" max="1000" step="1" showTickMarks discrete>
          <input matSliderThumb formControlName="initialInvestment" [value]="initialInvestment">
        </mat-slider>
        <mat-form-field floatLabel="always">
          <mat-label>Suma</mat-label>
          <input matInput type="number" class="example-right-align" formControlName="initialInvestment" [value]="initialInvestment"/>
          <span matTextPrefix class="input-prefix">€&nbsp;</span>
        </mat-form-field>
      </div>

    </div>
  </div>
  <div class="form-row">
    <div class="form-input-wrapper">
      <mat-label>Doba trvania investície</mat-label>
      <div class="form-input-group">
        <mat-slider min="2" max="30" step="1" showTickMarks discrete>
          <input matSliderThumb formControlName="investmentDuration" [value]="investmentDuration">
        </mat-slider>
        <mat-form-field floatLabel="always">
          <mat-label>Počet rokov</mat-label>
          <input matInput type="number" formControlName="investmentDuration" class="example-right-align" [value]="investmentDuration"/>
        </mat-form-field>
      </div>

    </div>
  </div>



  <div class="form-row">
    <mat-divider/>
    <div class="form-input-wrapper form-input-wrapper__align-start">
      <mat-label>Zvoľte investičnú stratégiu</mat-label>
      <mat-button-toggle-group name="selector" aria-label="Selector" formControlName="investmentStrategy" [value]="investmentStrategy" >
        <mat-button-toggle [value]="EInvestmentStrategies.conservative">Konzervatívna</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentStrategies.balanced">Vyvážená</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentStrategies.growth">Rastová</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentStrategies.dynamic">Dynamická</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentStrategies.custom">Vlastná</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div class="form-row">
    <div class="form-input-wrapper form-input-wrapper__align-start">
      <mat-label>Zvoľte scenár vývoja trhov</mat-label>
      <mat-button-toggle-group name="selector" aria-label="Selector" formControlName="investmentScenario" [value]="investmentScenario" >
        <mat-button-toggle [value]="EInvestmentScenarios.pessimistic">Pesimistický</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentScenarios.neutral">Neutrálny</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentScenarios.optimistic">Optimistický</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-divider/>
    </div>
  </div>

</form>
