<form class="investment-calculator-form" [formGroup]="investmentCalculatorForm">
  <div class="form-row">
    <div class="form-input-wrapper">
      <mat-label>Pravidelný mesačný vklad</mat-label>

      <div class="form-input-group">
        <mat-slider [min]="minimalMonthlyInvestment" [max]="maximalMonthlyInvestment" step="1"  >
          <input matSliderThumb formControlName="monthlyInvestment"  [value]="monthlyInvestment?.value">
        </mat-slider>
        <mat-form-field floatLabel="always">
          <mat-label>Suma</mat-label>
          <input matInput type="number" class="example-right-align" formControlName="monthlyInvestment" [value]="monthlyInvestment?.value"/>
          <span matTextPrefix class="input-prefix">€&nbsp;</span>
          @if (monthlyInvestment && monthlyInvestment.errors){
            <mat-error> {{ message(monthlyInvestment.errors) }}</mat-error>
          }
        </mat-form-field>

      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-input-wrapper">
      <mat-label>Jednorázový počiatočný vklad</mat-label>
      <div class="form-input-group">
        <mat-slider [min]="minimalInitialInvestment" [max]="maximalInitialInvestment" step="80" >
          <input matSliderThumb formControlName="initialInvestment" [value]="initialInvestment?.value">
        </mat-slider>
        <mat-form-field floatLabel="always">
          <mat-label>Suma</mat-label>
          <input matInput type="number" class="example-right-align" formControlName="initialInvestment" [value]="initialInvestment?.value"/>
          <span matTextPrefix class="input-prefix">€&nbsp;</span>
          @if (initialInvestment && initialInvestment.errors){
            <mat-error> {{ message(initialInvestment.errors) }}</mat-error>
          }
        </mat-form-field >
      </div>

    </div>
  </div>
  <div class="form-row">
    <div class="form-input-wrapper">
      <mat-label>Doba trvania investície</mat-label>
      <div class="form-input-group">
        <mat-slider [min]="minimalInvestmentDuration" [max]="maximalInvestmentDuration" step="1" showTickMarks discrete>
          <input matSliderThumb formControlName="investmentDuration" [value]="investmentDuration?.value">
        </mat-slider>
        <mat-form-field floatLabel="always">
          <mat-label>Počet rokov</mat-label>
          <input matInput type="number" formControlName="investmentDuration" class="example-right-align" [value]="investmentDuration?.value"/>
          @if (investmentDuration && investmentDuration.errors){
            <mat-error> {{ message(investmentDuration.errors) }}</mat-error>
          }
        </mat-form-field>
      </div>

    </div>
  </div>


  <div class="form-row">
    <mat-divider/>
    <div class="form-input-wrapper form-input-wrapper__align-start">
      <mat-label>Zvoľte investičnú stratégiu</mat-label>
      <mat-button-toggle-group name="selector" aria-label="Selector" formControlName="investmentStrategy" [value]="investmentStrategy?.value" >
        <mat-button-toggle [value]="EInvestmentStrategies.conservative">Konzervatívna</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentStrategies.balanced">Vyvážená</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentStrategies.growth">Rastová</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentStrategies.dynamic">Dynamická</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentStrategies.custom">Vlastná</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div class="form-row">
    <div class="form-input-wrapper form-input-wrapper__align-start">
      <mat-label>Zvoľte scenár vývoja trhov</mat-label>
      <mat-button-toggle-group name="selector" aria-label="Selector" formControlName="investmentScenario" [value]="investmentScenario?.value" >
        <mat-button-toggle [value]="EInvestmentScenarios.pessimistic">Pesimistický</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentScenarios.neutral">Neutrálny</mat-button-toggle>
        <mat-button-toggle [value]="EInvestmentScenarios.optimistic">Optimistický</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-divider/>
    </div>
  </div>

</form>
