.investment-pie__container{
  width: 100%;

}

.investment-pie{
  width: 100%;
  max-width: 310px;
}


.investment-stats{
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.investment-box{
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: .25rem;
  border: 1px solid black;
  padding:.5rem 1rem;
  width: 100%;
  border-radius: 2rem;
  min-width:4rem;
  &__profit{
    background: rgb(255,99,132);
    background: linear-gradient(90deg, rgba(255,99,132,1) 15%, rgba(189,99,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__invested{
    background: rgb(69,69,255);
    background: linear-gradient(90deg, rgba(69,69,255,1) 0%, rgba(95,133,252,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span{
    font-size: 0.6rem;

  }
  p{
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    font-size: 1.4rem;
  }


}
